---
---

@charset "utf-8";

//  LAYOUT METRICS
$content-width:    800px;
// The width below which we abandon the left and right margins
$screen-medium:    $content-width;
// The width below which we replace the nav links with a hamburger box
$screen-small:     560px;

$baseurl:          "{{ site.baseurl }}";
$default-color:    black;

@import
    "base",
    "fontmetrics",
    "layout",
    "style"
    ;
