<p>
  Slackrepo is not affiliated with, or endorsed by, SlackBuilds.org or Slackware Linux, Inc.
  The author thanks the awesome people behind those projects for their continuing generosity to the community.
</p>
<p>
  For avoidance of doubt, slackrepo is unrelated to the group communication software named Slack.
</p>
