<footer class="site-footer">
  <div class="wrapper">
    {% if page.addfooter %}
    {% include {{ page.addfooter }} %}
    {% endif %}
    <p>
      Page last modified {{ page.last_modified_at | date: '%Y-%m-%d %T' }}
    </p>
  </div>
</footer>
