<table class="head">
  <tr>
    <td class="head-ltitle">SLACKREPO.HINT(5)</td>
    <td class="head-vol">File Formats Manual</td>
    <td class="head-rtitle">SLACKREPO.HINT(5)</td>
  </tr>
</table>
<div class="manual-text">
<h1 class="Sh" title="Sh" id="NAME"><a class="selflink" href="#NAME">NAME</a></h1>
<b>slackrepo.hint</b> - slackrepo hintfile format
<h1 class="Sh" title="Sh" id="SYNOPSIS"><a class="selflink" href="#SYNOPSIS">SYNOPSIS</a></h1>
<b>/etc/slackrepo/</b><i>ID</i><b>/hintfiles/</b><i>prgnam</i><b>.hint</b>
<div class="Pp"></div>
where <i>ID</i> is 'SBo' by default.
<h1 class="Sh" title="Sh" id="DESCRIPTION"><a class="selflink" href="#DESCRIPTION">DESCRIPTION</a></h1>
A &quot;hintfile&quot; is a file that supplements a SlackBuild's .info file, for
  example to specify options and additional dependencies, to override the
  version, downloads and md5sums, etc.
<div class="Pp"></div>
Each repository ID should have a local hintfiles directory, as configured by the
  HINTDIR variable in the configuration file (see <b>slackrepo.conf(5)</b>). By
  default this will be <i>/etc/slackrepo/ID/hintfiles</i>.
<div class="Pp"></div>
The local hintfiles directory can optionally contain a structure of
  subdirectories that is the same as the subdirectories in the SlackBuilds
  repository. For example, if the SBo repository's SlackBuild file for wxPython
  is <i>libraries/wxPython/wxPython.SlackBuild</i>, then its hintfile would be
  <i>/etc/slackrepo/SBo/hintfiles/libraries/wxPython/wxPython.hint</i>.
  Alternatively, hintfiles can be placed in the top level directory, for example
  <i>/etc/slackrepo/SBo/hintfiles/wxPython.hint</i>. A hintfile in the top level
  directory takes precedence over a hintfile of the same name in a subdirectory.
<div class="Pp"></div>
Each repository ID should also have a default hint directory for system supplied
  hintfiles, as configured by the DEFAULT_HINTDIR variable in the configuration
  file (see <b>slackrepo.conf(5)</b>). For example, the SlackBuilds.org default
  hintfiles for Slackware 14.1 are supplied in the directory
  <i>/usr/share/slackrepo/SBo/default_hintfiles/14.1</i> . The default hintfiles
  directory contains a structure of subdirectories that is the same as the
  subdirectories in the SlackBuilds repository.
<div class="Pp"></div>
Local hintfiles always take precedence over default hintfiles. You can disable
  the default hintfile directory completely by unsetting the DEFAULT_HINTDIR
  variable.
<div class="Pp"></div>
The format of a hintfile is based on the format of SlackBuilds.org .info files,
  but all the entries are optional, and any unrecognised entries are ignored.
  Most SlackBuilds do not need hintfiles, and most hintfiles will only have one
  or two variables.
<h2 class="Ss" title="Ss" id="VERSION=&quot;newversion&quot;"><a class="selflink" href="#VERSION=&quot;newversion&quot;">VERSION=&quot;newversion&quot;</a></h2>
This hint can be specified to attempt an automatic patch of the version number
  in both the SlackBuild and info files. The automatic patch is done by a simple
  text substitution. This often won't work (particularly if the old version
  number is something like '1', or if the download URL has not been patched
  correctly and you have not supplied a new download URL in the hint file). The
  md5sum and/or sha256sum of the source archive will not be checked, unless you
  have also supplied a new md5sum and/or sha256sum in the hint file. The patched
  SlackBuild and info files are not kept.
<h2 class="Ss" title="Ss" id="DOWNLOAD=&quot;new_urls&quot;"><a class="selflink" href="#DOWNLOAD=&quot;new_urls&quot;">DOWNLOAD=&quot;new
  urls&quot;</a></h2>
This hint redefines download URLs that replace the URLs specified in the .info
  file, for example if you have also defined VERSION=, or if the upstream URL
  has changed.
<div class="Pp"></div>
However, if specified as <b>DOWNLOAD=&quot;no&quot;</b>, this hint indicates
  that the source needs to be downloaded manually (for example, because of a
  licence agreement). If you have already downloaded the source into the source
  cache, and if the md5sum is correct, then the package will be built.
  Otherwise, a message will be displayed explaining what you should do, and the
  package will be skipped.
<h2 class="Ss" title="Ss" id="MD5SUM=&quot;new_md5sums&quot;"><a class="selflink" href="#MD5SUM=&quot;new_md5sums&quot;">MD5SUM=&quot;new
  md5sums&quot;</a></h2>
This hint redefines md5sums that replace the md5sums specified in the upstream
  source archive has been changed.
<div class="Pp"></div>
However, if specified as <b>MD5SUM=&quot;no&quot;</b>, this hint indicates that
  the source md5sums are not reliable (for example, because of an unversioned
  archive) and should not be checked.
<h2 class="Ss" title="Ss" id="SHA256SUM=&quot;sha256sums&quot;"><a class="selflink" href="#SHA256SUM=&quot;sha256sums&quot;">SHA256SUM=&quot;sha256sums&quot;</a></h2>
This hint specifies an sha256sum that will be checked (in addition to any
  md5sum).
<h2 class="Ss" title="Ss" id="DOWNLOAD_arch=&quot;new_urls&quot;_and_MD5SUM_arch=&quot;new_md5sums&quot;_and_SHA256SUM_arch=&quot;sha256sums&quot;"><a class="selflink" href="#DOWNLOAD_arch=&quot;new_urls&quot;_and_MD5SUM_arch=&quot;new_md5sums&quot;_and_SHA256SUM_arch=&quot;sha256sums&quot;">DOWNLOAD_arch=&quot;new
  urls&quot; and MD5SUM_arch=&quot;new md5sums&quot; and
  SHA256SUM_arch=&quot;sha256sums&quot;</a></h2>
These hints redefine DOWNLOAD and MD5SUM, and specify SHA256SUM, as above, for
  the specified arch.
<h2 class="Ss" title="Ss" id="ADDREQUIRES=&quot;additional_dependencies&quot;"><a class="selflink" href="#ADDREQUIRES=&quot;additional_dependencies&quot;">ADDREQUIRES=&quot;additional
  dependencies&quot;</a></h2>
This hint should define a list of dependencies, separated by spaces.
  Dependencies in this list will be added to the dependencies defined by the
  REQUIRES= list defined in the .info file. If the .info file specifies
  %README%, you should set this hint (possibly as an empty string) to stop
  slackrepo displaying a warning.
<h2 class="Ss" title="Ss" id="DELREQUIRES=&quot;dependencies_to_ignore&quot;"><a class="selflink" href="#DELREQUIRES=&quot;dependencies_to_ignore&quot;">DELREQUIRES=&quot;dependencies
  to ignore&quot;</a></h2>
To ignore dependencies in the REQUIRES= list, use this hint.
<h2 class="Ss" title="Ss" id="BUILDTIME=&quot;dependencies_to_omit_from_package_manager_info&quot;"><a class="selflink" href="#BUILDTIME=&quot;dependencies_to_omit_from_package_manager_info&quot;">BUILDTIME=&quot;dependencies
  to omit from package manager info&quot;</a></h2>
Use this hint to omit dependencies from the package manager dependency
  information in the package repo (that is, the .dep files and optional
  FOR_SLAPTGET metadata).
<h2 class="Ss" title="Ss" id="OPTIONS=&quot;OPT1=yes_OPT2=no_...&quot;"><a class="selflink" href="#OPTIONS=&quot;OPT1=yes_OPT2=no_...&quot;">OPTIONS=&quot;OPT1=yes
  OPT2=no ...&quot;</a></h2>
This hint should define options described in the SlackBuild's README file. Note
  that this is the only way in slackrepo that you can define SlackBuild options.
<h2 class="Ss" title="Ss" id="GROUPADD=&quot;gid:groupname_...&quot;"><a class="selflink" href="#GROUPADD=&quot;gid:groupname_...&quot;">GROUPADD=&quot;gid:groupname
  ...&quot;</a></h2>
This hint defines groups to be added on the host system. If a group already
  exists, nothing will be done. If more than one group is to be added, a
  space-separated list can be specified. Example:
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
GROUPADD=&quot;209:postgres&quot;
</pre>
</div>
<h2 class="Ss" title="Ss" id="USERADD=&quot;uid:username[:controlargs...]_...&quot;"><a class="selflink" href="#USERADD=&quot;uid:username[:controlargs...]_...&quot;">USERADD=&quot;uid:username[:controlargs...]
  ...&quot;</a></h2>
This hint defines usernames to be added on the host system. If a username
  already exists, nothing will be done. Optionally, additional control arguments
  of the useradd command can be specified, separated by colons, with the space
  between the control argument and its argument omitted. If more than one
  username is required, a space-separated list of specifications can be defined.
  Examples:
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
USERADD=&quot;209:postgres:-d/var/lib/pgsql&quot;
USERADD=&quot;270:smtpd:-g0:-r:-s/bin/false:-d/var/empty 271:smtpq:-r:-s/bin/false:-d/var/empty&quot;
</pre>
</div>
<h2 class="Ss" title="Ss" id="SKIP=&quot;yesno&quot;"><a class="selflink" href="#SKIP=&quot;yesno&quot;">SKIP=&quot;yesno&quot;</a></h2>
This hint can be specified if you want to skip the package when it would
  otherwise be built, rebuilt, updated or removed. If the hint isn't specified
  as SKIP=&quot;yes&quot; or SKIP=&quot;no&quot;, it will be interpreted as
  &quot;yes&quot;, and the string will be displayed when the build is skipped,
  so that you can put a helpful message into it, for example:
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
SKIP=&quot;Please remove the Slackware nc package before you build netcat-openbsd&quot;
</pre>
</div>
<h2 class="Ss" title="Ss" id="ARCH=&quot;arch&quot;"><a class="selflink" href="#ARCH=&quot;arch&quot;">ARCH=&quot;arch&quot;</a></h2>
This hint temporarily overrides the value of ARCH given in the configuration
  file or environment. This hint is most useful for SlackBuilds that repackage
  binaries.
<h2 class="Ss" title="Ss" id="INSTALL=&quot;yesno&quot;"><a class="selflink" href="#INSTALL=&quot;yesno&quot;">INSTALL=&quot;yesno&quot;</a></h2>
This hint temporarily overrides the value of INSTALL given in the configuration
  file or on the command line. Use this hint if you want a specific package to
  be installed after it has been built (e.g. nvidia-driver). Note that if the
  control argument --dry-run is specified, this hint will be ignored.
<h2 class="Ss" title="Ss" id="NUMJOBS=&quot;-j1&quot;"><a class="selflink" href="#NUMJOBS=&quot;-j1&quot;">NUMJOBS=&quot;-j1&quot;</a></h2>
This hint temporarily overrides the value of NUMJOBS given in the configuration
  file or environment. Use this hint if the build process fails when multiple
  'make' jobs are used, so that the build will be executed with MAKEFLAGS='-j1'.
<h2 class="Ss" title="Ss" id="NOWARNING=&quot;Extended_RE&quot;"><a class="selflink" href="#NOWARNING=&quot;Extended_RE&quot;">NOWARNING=&quot;Extended
  RE&quot;</a></h2>
This hint suppresses slackrepo warnings that match the specified extended
  regular expression. Multiple warnings can be suppressed by using a suitable
  expression, for example:
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
NOWARNING=&quot;(Nonstandard directories|Unexpected owner/group)&quot;
</pre>
</div>
<h2 class="Ss" title="Ss" id="ANSWERS=&quot;string&quot;"><a class="selflink" href="#ANSWERS=&quot;string&quot;">ANSWERS=&quot;string&quot;</a></h2>
This hint can be specified if the build process wants to read answers to its
  questions during execution, for example concerning a licence agreement. The
  string is piped into the SlackBuild's standard input, so it should contain
  whatever will make the build process happy. Newlines can be specified as \n,
  for example
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
ANSWERS=&quot;ok\nyes&quot;
</pre>
</div>
<h2 class="Ss" title="Ss" id="CLEANUP=&quot;commands&quot;"><a class="selflink" href="#CLEANUP=&quot;commands&quot;">CLEANUP=&quot;commands&quot;</a></h2>
This hint can be specified if the package needs extra cleanup when it is
  uninstalled (e.g. packages that replace standard Slackware packages or install
  kernel modules). The hint should define an appropriate shell command line. to
  clean up after a kernel module is uninstalled:
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
CLEANUP=&quot;depmod -a&quot;
</pre>
</div>
<div class="Pp"></div>
For your convenience, slackrepo provides a command <b>s_reinstall</b> that
  reinstalls the specified Slackware packages, for example:
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
CLEANUP=&quot;s_reinstall tetex tetex-doc&quot;
</pre>
</div>
<h2 class="Ss" title="Ss" id="PRAGMA=&quot;pragmas&quot;"><a class="selflink" href="#PRAGMA=&quot;pragmas&quot;">PRAGMA=&quot;pragmas&quot;</a></h2>
This hint can be specified to perform one or more pragmas. <b>Pragmas</b> <b>are
  not guaranteed to work!</b> Multiple pragmas can be specified, separated by
  spaces. The following pragmas are available:
<div class="Pp"></div>
<b>python3</b>
<div class="Pp"></div>
Force python3 support: add python3 to the dependencies, set the
  PYTHON3=&#x201D;yes&#x201D; option, and if necessary patch the SlackBuild to
  support python3.
<div class="Pp"></div>
<b>kernelmodule</b> and <b>kernel</b>
<div class="Pp"></div>
Rebuild when the build host's kernel is upgraded; 'kernelmodule' also causes
  depmod to be run when the package is uninstalled.
<div class="Pp"></div>
<b>multilib_ldflags</b>
<div class="Pp"></div>
On a multilib host, attempt to patch the SlackBuild to specify LDFLAGS, as
  described in SlackBuilds.org FAQ 18.
<div class="Pp"></div>
<b>wget</b> or <b>curl</b>
<div class="Pp"></div>
Download with a fake wget or curl user agent string.
<div class="Pp"></div>
<b>download_basename</b>
<div class="Pp"></div>
Provide a symlink for source downloads using the URL's basename, for the benefit
  of SlackBuilds that don't expect content-disposition to be respected.
<div class="Pp"></div>
<b>need_net</b> and <b>need_X</b>
<div class="Pp"></div>
Do not block the network, and/or the X display, when building.
<div class="Pp"></div>
<b>x86arch=</b><i>arch</i>
<div class="Pp"></div>
When building on 32 bit x86, set the ARCH to <i>arch</i>.
<div class="Pp"></div>
<b>noexport_ARCH</b> and <b>noexport_BUILD</b> and <b>noexport_TAG</b>
<div class="Pp"></div>
Set ARCH and/or BUILD and/or TAG by patching the SlackBuild instead of exporting
  it to the environment.
<div class="Pp"></div>
<b>unset_ARCH</b>
<div class="Pp"></div>
Unset the value of ARCH, overriding the value given in the configuration file or
  environment. Other variables can be specified instead of ARCH, for example
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
PRAGMA=&quot;unset_DISTCC_HOSTS&quot;
</pre>
</div>
<div class="Pp"></div>
<b>noremove</b>
<div class="Pp"></div>
Do not remove (uninstall) packages before building the item. This is
  particularly useful for gcc, glibc, etc.
<div class="Pp"></div>
<b>nofakeroot</b>
<div class="Pp"></div>
Override building the package as a non-root user with fakeroot. Build the
  package as root, using <b>sudo</b>.
<div class="Pp"></div>
<b>no_make_test</b>
<div class="Pp"></div>
Patch the SlackBuild to comment out any 'make test' command.
<div class="Pp"></div>
<b>stubs-32</b>
<div class="Pp"></div>
Temporarily provide <i>/usr/include/gnu/stubs-32.h</i> as described in the
  memtest86+ README and xen SlackBuild.
<div class="Pp"></div>
<b>abstar</b>
<div class="Pp"></div>
Patch the SlackBuild to use the tar command's <i>--absolute-names</i> control
  argument. Use this if you get the error message
<div class="Pp"></div>
<div style="margin-left: 5.00ex;">
<pre>
tar: Directory renamed before its status could be extracted
</pre>
</div>
<h1 class="Sh" title="Sh" id="SEE_ALSO"><a class="selflink" href="#SEE_ALSO">SEE
  ALSO</a></h1>
<b>slackrepo(8)</b>, <b>slackrepo.conf(5)</b>, <b>installpkg(8)</b>,
  <b>upgradepkg(8)</b>, <b>removepkg(8)</b>, <b>pkgtool(8)</b>,
  <b>slackpkg(8)</b>.</div>
<table class="foot">
  <tr>
    <td class="foot-date">2017-09-01</td>
    <td class="foot-os">slackrepo-0.3</td>
  </tr>
</table>
