<br class="not-when-small" />
<a class="site-nav-link" href="{{ site.baseurl }}/man/slackrepo.8.html">slackrepo&nbsp(8)</a>
<a class="site-nav-link" href="{{ site.baseurl }}/man/slackrepo.conf.5.html">slackrepo.conf&nbsp(5)</a>
<a class="site-nav-link" href="{{ site.baseurl }}/man/slackrepo.hint.5.html">slackrepo.hint&nbsp(5)</a>
