<a class="site-nav-link" href="{{ site.baseurl }}/news.html">News</a>
<a class="site-nav-link" href="{{ site.baseurl }}/download.html">Download</a>
<a class="site-nav-link" href="{{ site.baseurl }}/quickstart.html">Quick&nbsp;Start</a>
<a class="site-nav-link" href="{{ site.baseurl }}/doc/">Documentation</a>
<a class="site-nav-link" href="{{ site.baseurl }}/screenshots.html">Screenshots</a>
