<br class="not-when-small" />
<a class="site-nav-link" href="{{ site.baseurl }}/doc/usage.html">Usage&nbsp;notes</a>
<a class="site-nav-link" href="{{ site.baseurl }}/doc/faq.html">FAQ</a>
<a class="site-nav-link" href="{{ site.baseurl }}/doc/config.html">Configuration</a>
<a class="site-nav-link" href="{{ site.baseurl }}/doc/hintfiles.html">Hintfiles</a>
<a class="site-nav-link" href="{{ site.baseurl }}/doc/structure.html">Repo&nbsp;structure</a>
<a class="site-nav-link" href="{{ site.baseurl }}/doc/checks.html">Checks</a>
<a class="site-nav-link" href="{{ site.baseurl }}/doc/links.html">Links</a>
<a class="site-nav-link" href="{{ site.baseurl }}/man/">manpages</a>
