//  BASE


@mixin media-query($device)
{
    @media screen and (max-width: $device) { @content; }
}


%clearfix
{
    &:after
    {
        content: "";
        display: table;
        clear: both;
    }
}


.icon
{
    > svg
    {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        path { fill: $default-color; }
    }
}

