//  FONTMETRICS


$roundy-mcroundface:  5px;

$base-fontsize:     1.000rem;
$small-fontsize:    0.875rem;

$size-t:       2.00  * $base-fontsize;
$size-a:       1.67  * $base-fontsize;
$size-b:       1.40  * $base-fontsize;
$size-c:       1.175 * $base-fontsize;
$size-d:       1.12  * $base-fontsize;
$size-e:               $base-fontsize;
$size-f:              $small-fontsize;
$size-g:       0.8   * $base-fontsize;
$size-h:       0.75  * $base-fontsize;

$base-lineheight:   1.5;
$small-lineheight:  1.375;
$tight-lineheight:  1.25;


// ---------------------------------------------------------------------

body
{
    font-size: $base-fontsize;
    @include media-query($screen-small) { font-size: $small-fontsize; }
    -webkit-text-size-adjust: 100%;
    line-height: $base-lineheight;
    @include media-query($screen-small) { line-height: $small-lineheight; }
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.site-title
{
    font-size: $size-t; line-height: $base-lineheight;
    @include media-query($screen-small)
    { font-size: $size-t; line-height: $small-lineheight; }
}
h1
{
    font-size: $size-a; line-height: $base-lineheight;
    @include media-query($screen-small)
    { font-size: $size-b; line-height: $small-lineheight; }
}
h2
{
    font-size: $size-b; line-height: $base-lineheight;
    @include media-query($screen-small)
    { font-size: $size-c; line-height: $small-lineheight; }
}
h3, .page-heading
{
    font-size: $size-c; line-height:$base-lineheight;
    @include media-query($screen-small)
    { font-size: $size-d; line-height: $small-lineheight; }
}
h4
{
    font-size: $size-d; line-height: $base-lineheight;
    @include media-query($screen-small)
    { font-size: $size-e; line-height: $small-lineheight; }
}
h5
{
    font-size: $size-e; line-height: $base-lineheight;
    @include media-query($screen-small)
    { font-size: $size-f; line-height: $small-lineheight; }
}

blockquote
{
    font-size: $base-fontsize;
    @include media-query($screen-small) { font-size: $small-fontsize; }
}

.site-nav
{
    font-size: $size-f; line-height: $small-lineheight;
    @include media-query($screen-small)
    { font-size: $size-g; }
}

table, footer, .site-footer
{
    font-size: $small-fontsize;
    line-height: $small-lineheight;
}

code
{
    font-size: $size-f;
}

pre
{
    font-size: $size-g;
    line-height: $small-lineheight;
    overflow-x: auto;
    > code { font-size: $size-g; }
}

pre.lic
{
    font-size: $small-fontsize;
    line-height: $tight-lineheight;
}
