// ---------------------------------------------------------------------
//  LAYOUT
// ---------------------------------------------------------------------


$site-header-height:  5rem;
$vertical-spacing: 1rem;


// ---------------------------------------------------------------------

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul
{
    padding: 0;
    margin: 0 0 $vertical-spacing 0;
}

blockquote
{
    > :last-child { margin-bottom: 0; }
}

code { padding: 0; }

pre
{
    > code
    {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

img
{
    max-width: 100%;
    vertical-align: middle;
}

ul, ol { margin-left: 0 }

li { > ul, > ol { margin-bottom: 0; } }

table
{
    width:100%;
    padding: 0;
    margin: 0 0 $vertical-spacing 0;
    border-collapse: collapse;
}


// ---------------------------------------------------------------------
//  WRAPPER

.wrapper {
    max-width: -webkit-calc(#{$content-width});
    max-width:         calc(#{$content-width});
    padding: 0  0.5rem  0  0.5rem ;
    margin:  0   auto   0   auto  ;
    @extend %clearfix;
}


// ---------------------------------------------------------------------
//  SITE

.site-header
{
    min-height: $site-header-height;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title
{
    vertical-align: top;
    margin: 0;
    @include media-query($screen-small)  { margin-right: 1em; }
}

.site-nav
{
    .menu-icon { display: none; }
    .site-nav-link { margin-right: 1rem; }
    margin-top: 0;

    @include media-query($screen-small)
    {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        margin-left: 0.25rem;
        border: 1px solid $default-color;
        border-radius: $roundy-mcroundface;
        text-align: right;
        float: right;
        .menu-icon
        {
            display: block;
            width: 2rem;
            height: 1.5rem;
            line-height: 0;
            padding-top: 0.5rem;
            text-align: center;
            > svg
            {
                width: 1.2rem;
                height: 1rem;
                path { fill: $default-color; }
            }
        }
        .nav-trigger
        {
            clear: both;
            display: none;
        }

        &:hover .nav-trigger
        { display: block; padding-bottom: 5px; }

        .page-link
        {
            display: block;
            margin: 2em;
        }
    }
}

.site-footer
{
    padding: $vertical-spacing 0;
    @extend %clearfix;
}


// ---------------------------------------------------------------------
//  PAGE

.page-content
{ padding: $vertical-spacing 0; }

.page-vertical
{ margin-bottom: $vertical-spacing; }


// ---------------------------------------------------------------------
//  MISC

.not-when-small
{
    display: inline;
    @include media-query($screen-small) { display: none; }
}

.floatright
{
    float: right;
    max-width: 45%;
    margin: 0 0 1rem 1rem;
    @include media-query($screen-small)
        { float: none; max-width: 100%; margin: 0 0 1rem 0; }
}

.floatleft
{
    float: left;
    max-width: 45%;
    margin: 0 1rem 1rem 0;
    @include media-query($screen-small)
        { float: none; max-width: 100%; margin: 0 0 1rem 0; }
}

.centred
{ margin: 0 auto $vertical-spacing auto; }
