//  Stylesheet for mandoc-generated manpages
//    see http://mdocml.bsd.lv/man/man.7.html
//    and http://mdocml.bsd.lv/man/mandoc.1.html

.manpage
{

    table.head, table.foot { display: none; }
    .manual-text
    {
        font-size: $base-fontsize;
        @include media-query($screen-small) { font-size: $small-fontsize; }
        margin: 1.2rem 0 1.2rem 0; margin-collapse: collapse;
    }
    h1
    {
        font-size: $size-b; line-height: $base-lineheight;
        @include media-query($screen-small)
        { font-size: $size-c; line-height: $small-lineheight; }
        background-color: $h-bg-color;
        padding-left: 0.3em;
        margin: 2rem 0 1.2rem 0; margin-collapse: collapse;
    }
    h2
    {
        font-size: $size-c; line-height:$base-lineheight;
        @include media-query($screen-small)
        { font-size: $size-d; line-height: $small-lineheight; }
        margin: 1.2rem 0 1.2rem 0; margin-collapse: collapse;
    }
    h3
    {
        font-size: $size-d; line-height: $base-lineheight;
        @include media-query($screen-small)
        { font-size: $size-e; line-height: $small-lineheight; }
        margin: 1.2rem 0 1.2rem 0; margin-collapse: collapse;
    }
    a.selflink { color: black; }
    pre
    {
        font-size: $size-f; line-height: $base-lineheight;
        @include media-query($screen-small)
        { font-size: $size-g; line-height: $small-lineheight; }
        padding: 0;
        border: 0;
        margin: 0 0 1.2rem 0;
        background-color: transparent;
    }
    dl
    {
        padding: 0;
        margin: 1.2rem 0 1.2rem 0; margin-collapse: collapse;
    }
    dt
    {
        padding: 0;
        margin: 0;
    }
    dd
    {
        padding: 0 0 0 5ex;
        margin: 0 0 1.2rem 0; margin-collapse: collapse;
    }
    .Pp
    {
        margin: 0 0 0.6rem 0; margin-collapse: collapse;
    }
}
