// ---------------------------------------------------------------------
//  STYLE
// ---------------------------------------------------------------------


$body-font-family:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-text-color:   black;
$body-bg-color:     white;
$title-font-family: $body-font-family;
$title-font-weight: 600;
$title-grad-color:  #6080bb;
$title-popup-color: rgba(200,220,255,0.75);
$h-bg-color:        #ccd7e9;
$link-color:        #2a7ae2;
$blockquote-color:  #828282;
$pre-font-family:   "Droid Sans Mono", monospace;
$pre-bg-color:      #e0ffe0;
$pre-border-color:  #66bb66;
$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 20%);


// ---------------------------------------------------------------------
//  BASE

body
{
    font-family: $body-font-family;
    color: $body-text-color;
    background-color: $body-bg-color;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6
{
    font-family: $title-font-family;
    font-weight: $title-font-weight;
}

h2, h3, h4
{
    background-color: $h-bg-color;
    padding-left: 0.3em;
}

ul
{
    list-style-type: disc;
    list-style-position: outside;
    li { margin-left: 3em; }
}

code, pre { font-family: $pre-font-family; }

pre
{
    border: 1px solid $pre-border-color;
    border-radius: $roundy-mcroundface;
    background-color: $pre-bg-color;
    padding: 0.67em 1em;
}

a
{
    color: $link-color;
    text-decoration: none;
    a:hover   { text-decoration: underline; }
}


// ---------------------------------------------------------------------
// SITE

.site-header
{
    background-image: linear-gradient($title-grad-color, #ffffff $site-header-height);
}

.site-title
{
    &, &:visited { color: white; text-decoration: none; }
    font-family: $title-font-family;
    font-weight: 600;
    letter-spacing: -0.05em;
    border: 1px solid white;
    padding: 0 0.2em 0 0.2em;
    border-radius: $roundy-mcroundface;
}

.site-nav
{
    font-weight: 600;
    @include media-query($screen-small) { background-color: $title-popup-color; }
    .site-nav-link
    {
        & { color: blue; }
        &:hover { background-color: white; text-decoration: none; };
    }
}

.menu-icon
{
    background-color: white;
    border: 1px solid $grey-color-dark;
    border-radius: $roundy-mcroundface;
}

footer {
    color: $grey-color;
    @extend %clearfix;
}


// ---------------------------------------------------------------------
//  MISC

p.scary
{
    background-image: url( $baseurl+"/img/warning.png");
    background-repeat: no-repeat;
    background-position: left 8px center;
    padding: 8px 8px 8px 50px;
    border: 1px solid black;
    font-weight: bold;
}

pre.lic
{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: normal;
    padding: 0; border: 0;
    background-color: transparent;
}

h4.faq:before
{
    counter-increment: faqnumber;
    content: counter(faqnumber) ". ";
}

// ---------------------------------------------------------------------
// MANPAGE

@import "manpage";
